* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: 'Baloo Paaji 2', cursive;
}        

body, html {
    overflow-x: hidden;
}

/* nav css */

 
/* order now 20% */
.order-now {
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #ffc104;
    width: 186px;
    text-align: center;
}
.order-now:hover {
  background-color: #2A1004 !important;
}
a:hover, .order-now:hover {
    color: #ffc104 !important;
}

/* body section */
/* submition forms starts */


  label {
    color: #2A1004;
    font-size: 1.4em;
    text-align: left;
  }
  h1 {
    color: #2A1004;
  }

  #fullNameInput {
    border: 2px solid #a1a09f;
  }
  #addressInput {
    border: 2px solid #a1a09f;
  }
  #textareaInput {
    border: 2px solid #a1a09f;
  }
  input::placeholder {
  color: #2A1004;
  font-size: 1.1em;
}
.btn-primary {
  background-color: #2A1004 !important;
  width: 200px;
  height: 50px;
  border-color: #2A1004 !important;
}
.btn:hover, .btn-primary:hover {
  color: #2A1004 !important;
  border: 2px solid #2A1004 !important;
  border-color: none !important;
  background-color: #ffc104 !important;
}
.m-5 {
  padding-top: 4rem !important;
}
/* end of form css */

/* ourCommitments paragraph*/
.ourCommitments {
  background-color: #ffc104;
  width: 100%;
  padding: 20px;
    text-align: center;
}
.ourCommitments > h1 {
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    color: #ffc104;
   
}

.fa-facebook {
  background: #2A1004;
  color: #ffc104;
}

.fa-twitter {
  background: #2A1004;
  color: #ffc104;
}

.fa-google {
  background: #2A1004;
  color: #ffc104;
}

/* footer css */
footer {
    background-color: #ffc104;
    height: 850px;
    color: #2A1004;
    padding: 60px 140px;
    width: 100%;
    text-align: center;
    margin-top: -10px; /* to close the gap on top*/
}
/* email sending */
.emailsend {
  margin: 40px 0px;
}

.emailForm > input {
  width: 250px;
  height: 52px;
  border: 1px solid #2A1004;
  border-radius: 5px;
}
.emailForm > button {
    width: 100px;
    height: 50px;
    background-color: #2A1004;
    color: #ffc104;
    border-color: none;
    margin-left: 14px !important;
}

.emailForm > input::placeholder {
  padding-left: 5px;
}